@media (max-width:850px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: none;
        padding: 10px 0;
    }

    .pag1-h1 {
        h1 {
            font-size: 1.5625rem;
        }

        p {
            font-size: 0.9375rem;
        }
    }

    .section-principal {
        .bcur {
            margin-bottom: 300px;
        }

        text-align: center;
    }

    .navbar {
        gap: 10px;
        padding-right: 0.8rem;

        a {
            font-size: 25px;
            padding: 0.2rem;
        }
    }

    .container-card {
        width: 16rem;
        height: 20rem;
    }

    .container-pag1 {
        h1 {
            font-size: 1.9rem;
        }

        h2 {
            font-size: 1.2rem;
        }

        align-items: center;
    }

    .formulario {
        width: 80%;

        legend {
            font-size: 1.5rem;
        }
    }

    .text-mapa {
        height: auto;
        font-size: 1rem;
    }

    .mapa {
        width: 100%;
        flex-direction: column;
        align-items: center;

        img {
            width: 80%;
        }
    }

    .mapa-center {
        padding-left: 4.375rem;
    }
}