@media (max-width:1465px) {
    .container-card {
        width: 20rem;
        height: 18rem;
    }

    .modalidad1,
    .modalidad11 {
        gap: 1.1rem;
    }

    .modalidad2 {
        gap: 1.1rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}